# this block must be included in all task_group configs
# especially the datamodule: default attribue
defaults:
  - _self_
  - datamodule: default


# Define tasks with time-varying probabilities
# this is p(task) but p(task) can change through the course of training
task_phases:
  - duration_batches: null
    tasks:
      - name: expapo_conditioned_ligand_docking
        probability: 0.20
      - name: predapo_conditioned_ligand_docking
        probability: 0.20
      - name: exp_apo_conditioned_denovo_ligand
        probability: 0.20
      - name: pred_apo_conditioned_denovo_ligand
        probability: 0.20
      - name: rigid_docking
        probability: 0.20

# define p(dataset|task) coupling (assume static for simplicity)
dataset_task_coupling:
  expapo_conditioned_ligand_docking:
    - [plinder, 1.0]
  predapo_conditioned_ligand_docking:
    - [plinder, 1.0]
  exp_apo_conditioned_denovo_ligand:
    - [plinder, 1.0]
  pred_apo_conditioned_denovo_ligand:
    - [plinder, 1.0]
  rigid_docking:
    - [plinder, 1.0]
  
train_evals:
  expapo_conditioned_ligand_docking:
    - validity:
        params: {}
    - stability:
        params: {}
    - reos_and_rings:
        params: {}
    - geometry:
        params:
          ignore_hydrogens: true
    - flatness:
        params:
          threshold_flatness: 0.1
    - intermolecular_distance:
        params:
          clash_cutoff: 0.05
    - ligand_rmsd:
        params:
          rmsd_threshold: 2.0
    - volume_overlap:
        params:
          clash_cutoff: 0.05
  predapo_conditioned_ligand_docking:
    - validity:
        params: {}
    - stability:
        params: {}
    - reos_and_rings:
        params: {}
    - geometry:
        params:
          ignore_hydrogens: true
    - flatness:
        params:
          threshold_flatness: 0.1
    - intermolecular_distance:
        params:
          clash_cutoff: 0.05
    - ligand_rmsd:
        params:
          rmsd_threshold: 2.0
    - volume_overlap:
        params:
          clash_cutoff: 0.05
  exp_apo_conditioned_denovo_ligand:
    - validity:
        params: {}
    - stability:
        params: {}
    - reos_and_rings:
        params: {}
    - geometry:
        params:
          ignore_hydrogens: true
    - flatness:
        params:
          threshold_flatness: 0.1
    - intermolecular_distance:
        params:
          clash_cutoff: 0.05
    - volume_overlap:
        params:
          clash_cutoff: 0.05
  pred_apo_conditioned_denovo_ligand:
    - validity:
        params: {}
    - stability:
        params: {}
    - reos_and_rings:
        params: {}
    - geometry:
        params:
          ignore_hydrogens: true
    - flatness:
        params:
          threshold_flatness: 0.1
    - intermolecular_distance:
        params:
          clash_cutoff: 0.05
    - volume_overlap:
        params:
          clash_cutoff: 0.05
  rigid_docking:
    - validity:
        params: {}
    - stability:
        params: {}
    - reos_and_rings:
        params: {}
    - geometry:
        params:
          ignore_hydrogens: true
    - flatness:
        params:
          threshold_flatness: 0.1
    - intermolecular_distance:
        params:
          clash_cutoff: 0.05
    - ligand_rmsd:
        params:
          rmsd_threshold: 2.0
    - volume_overlap:
        params:
          clash_cutoff: 0.05